streamlit
langchain
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
langchain_chroma
langchain_huggingface
chromadb
faiss-cpu
sentence_transformers
duckduckgo-search
arxiv
wikipedia
pymupdf
pypdf
bs4
python-dotenv
openai
pandas
duckdb
SQLAlchemy
validators
youtube_transcript_api
unstructured
pytube
huggingface_hub
langserve
sse_starlette
validators
youtube_transcript_api
numexpr
langsmith
cassio
tiktoken
datasets
PyPDF2
gradio